

<!-- This is from the vote(),
question = get_object_or_404(Question, pk=question_id)
-->
<h1>{{ question.question_text }}</h1>

<!-- This is returnd from handler vote()
-->
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'myPolls:vote' question.id %}" method="post">

<!-- Cross Site Request Forgeries.  Stops hackers, from django.  Lesson 4 -->
{% csrf_token %}

{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}

<input type="submit" value="Vote" />

</form>